<header id="header" class="header">
  <div class="pl__nav">
    <div class="pl__nav-brand"><img src="../../assets/Header_Component_Images/pl_logo_blank.png"></div>
    <nav>
      <ul>
        <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/' + route.route]">{{route.name}}</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="pl__nav__social">
      <ul>
        <li><a href="https://www.facebook.com/PalaceNetworkMC"><fa-icon [icon]="faFacebookSquare"></fa-icon></a></li>
        <li><a href="https://twitter.com/palacenetwork?lang=en"><fa-icon [icon]="faTwitterSquare"></fa-icon></a></li>
        <li><a href="https://www.instagram.com/palacenetwork/?hl=en"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        <li><a href="https://discord.gg/palace"><fa-icon [icon]="faDiscord"></fa-icon></a></li>
      </ul>
  </div>
</header>
<div class="pl__jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col pl__jumbotron__play-section">
        <p class="pl__jumbotron__ip">IP Address: <span>play.palace.network</span></p>
        <button class="btn"><a href="https://forums.palace.network/topic/6120-how-to-join-our-minecraft-server/" target="_blank">Click here to play!</a></button>
        <p>There are currently <span>0</span> guests online!</p>
      </div>
      <div class="col"><img class="pl__jumbotron__logo d-block" src="../../assets/Header_Component_Images/palace_logo_fullres.png"></div>
      <div class="col pl__jumbotron__play-section">
        <p>Want to support <span>Palace Network</span>?</p>
        <button class="btn btn-red">Click here to shop!</button>
      </div>
      <!-- <div class="col pl__jumbotron__radio-section">
        <div class="container pl__radio__container">
          <div class="row">
            <div class="col-md-3"><img class="pl__radio__aa"></div>
            <div class="col-md-6">
              <h2 class="pl__radio__dj">DJ Brant</h2>
              <p class="pl__radio__current-track">Currently playing: <span>Abstract - Scars (ft. RoZe)</span></p>
              <p class="pl__radio__user-count">There are currently <span>149</span> listeners.</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
