.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%;
    height: 50px;
    background-color: #212121;
    border-bottom: 2px solid #5b5b5b;
    .pl__nav {
        position: relative;
        margin: 0 auto;
        display: inline-flex;
        max-width: 100%;
        padding: 0 20px;
        .pl__nav-brand {
            position: relative;
            display: inline-block;
            margin: 0 auto;
            height: auto;
            max-width: 100%;
            padding: 13px;
            img {
                margin-top: -15px;
                height: 53px;
                width: 75px;
            }
        }
        nav {
            position: relative;
            max-width: 100%;
            ul {
                display: inline-flex;
                width: 100%;
                padding: 5px 20px;
                margin: 0 auto;
                li {
                    list-style-type: none;
                    margin: 0 12px;
                    text-align: center;
                    font-size: 13px;
                    text-shadow: 0 1px 3px #1F1F1F;
                    a {
                        color: #fff;
                    }
                    a:hover, .active {
                        color: #ffb500;
                        font-weight: bold;
                        text-shadow: 0 1px 20px #ffb500;
                    }
                }
            }        
        }
    }
    .pl__nav__social {
        position: relative;
        margin: 5px auto;
        float: right;
        max-width: 100%;
        ul {
            display: inline-flex;
            width: 100%;
            padding: 5px 20px;
            li {
                margin: 0 9px;
                list-style-type: none;
                text-align: center;
                font-size: 19px;
                text-shadow: 0 1px 3px #1F1F1F;
                a { 
                    color: #f3f3f3;
                }
                a:hover {
                    color: #ffb500;
                }
            }
        }
    }
}
.pl__jumbotron {
    position: relative;
    margin: 3.12em auto;
    margin-bottom: 0;
    max-width: 100%;
    height: 339px;
    background-color: #ffb500;
    border-bottom: 3px solid #ffb500;
    background: url('../../assets/Header_Component_Images/pl_jumbo_bg.png');
    background-size: cover;
    // text-align: center;
    color: #fefefe;
    .pl__jumbotron__logo {
        margin: 2em auto;
        padding: 1em 2em;
        height: 250px;
        width: 353px;
        filter: drop-shadow(2px 5px 10px rgb(250,226,127));
    }
    .pl__jumbotron__play-section {
        margin: 4em auto;
        padding: 1em 0.5em;
        max-width: 100%;
        text-align: center;
        p {
            padding: 5px 10px;
            text-shadow: 0 1px 3px #1F1F1F;
            span {
                font-weight: bold;
                color: #ffb500;
            }
        }
        .btn {
            color: white;
            background-color: #00aeef;
            border-radius: 20px;
            border: none;
            width: 200px;
            display: block;
            margin: 40px auto;
            line-height: 25px;
        }
        .btn-red {
            background-color: #ff6b6b;
        }
        .btn:hover {
            background: #019dd6;
        }
        a { 
            color: white;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .pl__jumbotron__radio-section {
        margin: 5em auto;
        max-width: 100%;
        padding: 1em 2em;
        .pl__radio__container {
            width: auto;
            .pl__radio__aa {
                height: 130px;
                width: 130px;
                border: 2px solid #fff;
            }
            .pl__radio__dj {
                font-size: 21px;
                font-weight: bold;
            }
            .pl__radio__current-track {
                max-width: 100%;
                width: 300px;
                font-size: 12px;
                span {
                    font-weight: bold;
                }
            }
            .pl__radio__user-count {
                font-size: 12px;
                font-weight: bold;
                span {
                    color: #ffb500;
                }
            }
        }
    }
    // .pl__radio__container {
    //     margin: 5em auto;
    //     max-width: 100%;
    //     padding: 1em 2em;
    //     color: #fefefe;
    //     text-shadow: 0 1px 3px #1F1F1F;
    //     .pl__radio__aa {
    //         height: 130px;
    //         width: 130px;
    //         border: 2px solid #fff;
    //     }
    //     .pl__radio__dj {
    //         position: absolute;
    //         margin-right: 16px;
    //         margin-left: 12px;
    //         font-size: 21px;
    //         font-weight: bold;
    //     }
    //     .pl__radio__current-track {
    //         position: absolute;
    //         max-width: 100%;
    //         width: 350px;
    //         font-size: 12px;
    //         top: 126px;
    //         left: 217px;
    //         span {
    //             font-weight: bold;
    //         }
    //     }
    //     .pl__radio__user-count {
    //         position: absolute;
    //         font-size: 12px;
    //         width: 350px;
    //         max-width: 100%;
    //         top: 141px;
    //         left: 191px;
    //         font-weight: bold;
    //         span {
    //             color: #ffb500;
    //         }
    //     }
    // }
}
