/** header/navigation styles **/
.pl__header {
    position: absolute;
    max-width: 100%;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 999;
    background-color: #212121;
    border-bottom: 2px solid #2E2E2E;
    .pl__nav {
        position: relative;
        margin: 0 auto;
        display: inline-flex;
        max-width: 100%;
        width: auto;
        padding: 0 20px;
        .pl__nav__brand {
            height: auto;
            max-width: 100%;
            padding: 15px;
            img {
                margin-top: -16px;
                height: 53px;
                width: 75px;
            }
        }
        nav {
            max-width: 100%;
            ul {
                display: inline-flex;
                padding: 5px 20px;
                li {
                    list-style-type: none;
                    display: inline-block;
                    margin: 0 12px;
                    text-align: center;
                    font-size: 14px;
                    text-shadow: 0 1px 3px #1F1F1F;
                    
                    a {
                        color: #fff;
                    }
                    a:hover, .active {
                        color: #ffb500;
                        -webkit-text-stroke: 1px #ffb500;
                        //text-shadow: 0 0 .05px #ffb500, 0 0 .05px #ffb500, 0 0 .05px #ffb500;
                        text-shadow: 0 1px 20px #ffb500;
                    }
                }
            }
        }
    }
    .pl__nav__social {
        position: relative;
        margin: 5px auto;
        float: right;
        .btn {
            color: white;
            background-color: #3c4046;
            border-radius: 5px;
            border: none;
            width: 110px;
            display: block;
            margin-top: -1px;
            margin-right: 15px;
            line-height: 25px;
        }
        .btn:hover {
            background-color: #434950;
        }
    }
}
header.fixed {
    .pl__nav__social {
        display: none;
    }
}
.pl__nav__social {
    ul {
        margin-top: 5px;
        margin-right: 10px;
        li {
            display: inline-block;
            a {
                color: #fff;
                padding: 13px 10px;
                font-size: 20px;
                cursor: default;
            }
            fa-icon:hover {
                color: #ffb500;
                cursor: pointer;
            }
        }
    }
}
.fixed {
    position: fixed;
    transition: all 1s ease-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}
.pl__jumbotron {
    position: relative;
    margin: 3em auto;
    margin-bottom: 0;
    max-width: 100%;
    height: 339px;
    background-color: #ffb500;
    border-bottom: 3px solid #ffb500;
    background: url('../../assets/Header_Component_Images/pl_jumbo_bg.png');
    background-size: cover;
    // text-align: center;
    color: #fefefe;
    .pl__jumbotron__logo {
        margin: 0em auto;
        padding: 1em 2em;
        height: 150px;
        filter: drop-shadow(2px 5px 10px rgb(250,226,127));
    }
    .pl__compress {
        padding: 0 200px;
    }
    .pl__jumbotron__play-section {
        margin: 0em auto;
        padding: 1em 0.5em;
        max-width: 100%;
        text-align: center;
        p {
            padding: 5px 10px;
            text-shadow: 0 1px 3px #1F1F1F;
            span {
                font-weight: bold;
                color: #ffb500;
            }
        }
        .btn {
            color: white;
            border-radius: 10px;
            width: 200px;
            display: block;
            margin: 10px auto;
            line-height: 25px;
        }
        .btn-red {
            background-color: #ff6b6b;
        }
        .btn-blue {
            background-color: #00aeef;
        }
        .btn-red:hover {
            background-color: #e26161 !important;
        }
        .btn:hover {
            background: #019dd6;
        }
        // .btn:active {
        //     top: 4px;
        //     box-shadow: 0px 0px #008ec2;
        // }
        a { 
            color: white;
        }
        a:hover {
            text-decoration: none;
        }
    }
    .pl__jumbotron__radio-section {
        margin: 5em auto;
        max-width: 100%;
        padding: 1em 2em;
        .pl__radio__container {
            width: auto;
            .pl__radio__aa {
                height: 130px;
                width: 130px;
                border: 2px solid #fff;
            }
            .pl__radio__dj {
                font-size: 21px;
                font-weight: bold;
            }
            .pl__radio__current-track {
                max-width: 100%;
                width: 300px;
                font-size: 12px;
                span {
                    font-weight: bold;
                }
            }
            .pl__radio__user-count {
                font-size: 12px;
                font-weight: bold;
                span {
                    color: #ffb500;
                }
            }
        }
    }
    // .pl__radio__container {
    //     margin: 5em auto;
    //     max-width: 100%;
    //     padding: 1em 2em;
    //     color: #fefefe;
    //     text-shadow: 0 1px 3px #1F1F1F;
    //     .pl__radio__aa {
    //         height: 130px;
    //         width: 130px;
    //         border: 2px solid #fff;
    //     }
    //     .pl__radio__dj {
    //         position: absolute;
    //         margin-right: 16px;
    //         margin-left: 12px;
    //         font-size: 21px;
    //         font-weight: bold;
    //     }
    //     .pl__radio__current-track {
    //         position: absolute;
    //         max-width: 100%;
    //         width: 350px;
    //         font-size: 12px;
    //         top: 126px;
    //         left: 217px;
    //         span {
    //             font-weight: bold;
    //         }
    //     }
    //     .pl__radio__user-count {
    //         position: absolute;
    //         font-size: 12px;
    //         width: 350px;
    //         max-width: 100%;
    //         top: 141px;
    //         left: 191px;
    //         font-weight: bold;
    //         span {
    //             color: #ffb500;
    //         }
    //     }
    // }
}
