<header id="header" class="pl__header">
  <div class="pl__nav">
    <div class="pl__nav__brand"><img src="../../assets/Header_Component_Images/pl_logo_blank.png"></div>
    <nav>
      <ul>
        <li class="nav-item" *ngFor="let route of routes">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['/' + route.route]">{{route.name}}</a>
        </li>
        <li class="nav-item"><a class="nav-link" href="https://support.palace.network/">Help & Support</a></li>
      </ul>
    </nav>
  </div>
  <div class="pl__nav__social">
    <ul>
      <li><a href="#"><fa-icon [icon]="faTwitter"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
      <li><a href="#"><fa-icon [icon]="faDiscord"></fa-icon></a></li>
    </ul>
  </div>
</header>



<div class="pl__jumbotron">
  <div><img class="pl__jumbotron__logo d-block" src="../../assets/Header_Component_Images/palace_logo_fullres.png"></div>
  <div class="container-fluid">
    <div class="row pl__compress">
      <div class="col pl__jumbotron__play-section">
        <p class="pl__jumbotron__ip">IP Address: <span>play.palace.network</span></p>
        <button class="btn btn-blue"><a href="https://forums.palace.network/topic/6120-how-to-join-our-minecraft-server/" target="_blank"><fa-icon [icon]="faPlayCircle"></fa-icon> Play Now!</a></button>
        <p>There are currently <span>0</span> guests online!</p>
      </div>
      <div class="col pl__jumbotron__play-section">
        <p>Want to support <span>Palace Network</span>?</p>
        <button class="btn btn-red"><a href="https://store.palace.network" target="_blank"><fa-icon [icon]="faStore"></fa-icon> Visit our store</a></button>
        <p>Text needs to go here</p>
      </div>
</div>
