/* ========== FOOTER ========== */
.pl__footer {
    /** General Footer Styles **/
    background-color: #363636;
    color: #fff;
    padding-top: 30px;
    img {
        height: 180px;
        width: 270px;
    }
    .row {
        margin-bottom: 60px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    h5 {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
    }
    a {
        color: #d2d1d1;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover, a:focus {
        text-decoration: none;
        color: #fff;
    }
    .btn {
        color: white;
        background-color: rgba(131, 71, 221, 0.8);
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        margin-top: 10px;
        line-height: 25px;
    }
    .btn:hover {
        background: rgba(163, 119, 202, 0.8);
    }
    /** Footer Social Styles **/
    .pl__footer__social {
        text-align: center;
        padding: 30px 0 16px 0;
        a {
            font-size: 32px;
            color: #f9f9f9;
            padding: 10px;
            transition: 0.2s;
        }
        a:hover {
            color: #ffc000;
        }
    }
    /** Footer Copyright styles **/
    .pl__footer__copyright {
        background-color: rgb(230, 236, 240);
        padding-top: 3px;
        max-width: 100%;
        padding-bottom: 3px;
        text-align: center;
        border-top: 4px solid #ffc000;
        p {
            text-align: center;
            margin: 10px auto;
            color: rgb(0, 0, 0);
            font-weight: 300;
        }
    }
}
