@import '../../theme';
/* ========== FOOTER ========== */
.pl__footer {
    /** General Footer Styles **/
    background-color: #363636;
    color: #fff;
    padding-top: 30px;
    img {
        height: 180px;
        width: 270px;
    }
    .row {
        margin-bottom: 60px;
    }
    ul {
        list-style-type: none;
        padding-left: 0;
        line-height: 1.7;
    }
    h5 {
        font-size: 18px;
        color: #fff;
        font-weight: bold;
        margin-top: 30px;
    }
    a {
        color: #d2d1d1;
        text-decoration: none;
        font-weight: bold;
    }
    a:hover, a:focus {
        text-decoration: none;
        color: #fff;
    }
    .btn {
        color: white;
        background-color: rgba(131, 71, 221, 0.8);
        border-radius: 20px;
        border: none;
        width: 150px;
        display: block;
        margin: 0 auto;
        text-align: center;
        margin-top: 10px;
        line-height: 25px;
    }
    .btn:hover {
        background: rgba(163, 119, 202, 0.8);
    }
    /** Footer Social Styles **/
    // .pl__footer__social {
    //     text-align: center;
    //     padding: 30px 0 16px 0;
    //     width: auto;
    //     a {
    //         background-color: #f9f9f9;
    //         font-size: 32px;
    //         color: $typography-1;
    //         transition: 0.2s;
    //     }
    //     a:hover {
    //         color: $palace-gold;
    //         text-shadow: 0 5px 20px $palace-gold;
    //     }
    // }
    /** Footer Social Menu New **/
    .pl__footer__social {
        margin: 0 auto;
        text-align: center;
        width: auto;
        padding: 30px 0 16px 0;
        ul {
            display: inline-flex;
            list-style-type: none;
            padding: 0;
            li {
                margin: 0 15px;
                border-radius: 50%;
                width: 45px;
                padding: 8px;
                background-color: rgb(102, 102, 102);
                a {
                    font-size: 17px;
                }
            }
            li:hover {
                background-color: #dd9e00;
                box-shadow: 0px 0px 13px #ffb500;
            }
        }
    }

    /** Footer Copyright styles **/
    .pl__footer__copyright {
        // background-color: rgb(230, 236, 240);
        padding-top: 3px;
        max-width: 100%;
        padding-bottom: 3px;
        text-align: center;
        // border-top: 4px solid #ffc000;
        p {
            text-align: center;
            margin: 10px auto;
            // color: rgb(0, 0, 0);
            color: #acacac;
            font-weight: 300;
        }
    }
}
