<footer class="pl__footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 pn__footer__logo">
        <img src="../../assets/Footer_Component_Images/pl_logo_solid.png">
      </div>
      <div class="col-sm-2">
        <h5>Get Started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <!-- <li><a href="#">Player Portal</a></li> -->
          <li><a target="_blank" href="https://store.palace.network/">Store</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a target="_blank" href="https://forums.palace.network/forum/61-offical-guides/">FAQ</a></li>
          <li><a target="_blank" href="https://support.palace.network">Help Desk</a></li>
          <li><a target="_blank" href="https://forums.palace.network">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Legal</h5>
        <ul>
          <li><a target="_blank" href="https://forums.palace.network/terms">TOS</a></li>
          <li><a target="_blank" href="https://forums.palace.network/privacy" target="_blank">Privacy</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="pl__footer__social">
          <ul>
            <a target="_blank" href="https://twitter.com/palacenetwork"><li><fa-icon [icon]="faTwitter"></fa-icon></li></a>
            <a target="_blank" href="https://facebook.com/palacenetworkmc"><li><fa-icon [icon]="faFacebookF"></fa-icon></li></a>
            <a target="_blank" href="https://instagram.com/palacenetwork"><li><fa-icon [icon]="faInstagram"></fa-icon></li></a>
            <a target="_blank" href="https://youtube.com/user/McMagicParks"><li><fa-icon [icon]="faYoutube"></fa-icon></li></a>
            <!-- <li><a href="https://discord.gg/palace"><fa-icon [icon]="faDiscord"></fa-icon></a></li> -->
          </ul>
        </div>
        <a href="https://support.palace.network" target="_blank" class="btn btn-default"><fa-icon [icon]="faKeyboard"></fa-icon> Contact us</a>
      </div>
    </div>
  </div>
  <div class="pl__footer__copyright">
      <p>&copy; {{ year | date:'y' }} Palace Network LLC. All rights reserved.</p>
  </div>
</footer>
