<footer class="pl__footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 pn__footer__logo">
        <img src="../../assets/Footer_Component_Images/pl_logo_full.png">
      </div>
      <div class="col-sm-2">
        <h5>Get Started</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Player Portal</a></li>
          <li><a href="#">Store</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Support</h5>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help Desk</a></li>
          <li><a href="#">Forums</a></li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>Legal</h5>
        <ul>
          <li><a href="#">TOS</a></li>
          <li><a href="https://forums.palace.network/privacy" target="_blank">Privacy</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <div class="pl__footer__social">
          <a href="https://twitter.com/palacenetwork?lang=en" class="twitter"><fa-icon [icon]="faTwitterSquare"></fa-icon></a>
          <a href="https://www.facebook.com/PalaceNetworkMC" class="facebook"><fa-icon [icon]="faFacebookSquare"></fa-icon></a>
          <a href="https://www.instagram.com/palacenetwork/?hl=en" class="instagram"><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href="https://www.youtube.com/user/McMagicParks" class="youtube"><fa-icon [icon]="faYoutubeSquare"></fa-icon></a>
        </div>
        <button type="button" class="btn btn-default">Contact us</button>
      </div>
    </div>
  </div>
  <div class="pl__footer__copyright">
      <p>&copy; {{ year | date:'y' }} Palace Network LLC. All rights reserved.</p>
  </div>
</footer>
