<div class="container pl__parks">

  <div class="row">
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Placeholder</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Heading for creative</h2>
      <p>Spicy jalapeno bacon ipsum dolor amet jowl ullamco sed venison, hamburger salami duis aliquip meatloaf mollit.
        Meatball cow boudin incididunt pork loin. Prosciutto sed sint, turducken pancetta ex meatloaf exercitation in
        ipsum culpa sirloin short ribs.</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Placeholder</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Heading for creative</h2>
      <p>Spicy jalapeno bacon ipsum dolor amet jowl ullamco sed venison, hamburger salami duis aliquip meatloaf mollit.
        Meatball cow boudin incididunt pork loin. Prosciutto sed sint, turducken pancetta ex meatloaf exercitation in
        ipsum culpa sirloin short ribs.</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Placeholder</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Heading for creative</h2>
      <p>Spicy jalapeno bacon ipsum dolor amet jowl ullamco sed venison, hamburger salami duis aliquip meatloaf mollit.
        Meatball cow boudin incididunt pork loin. Prosciutto sed sint, turducken pancetta ex meatloaf exercitation in
        ipsum culpa sirloin short ribs.</p>
    </div>
  </div>


  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">First featured heading. <span class="text-muted">It’ll blow your mind.</span>
      </h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7 order-md-2">
      <h2 class="featured-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
      <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">


</div>