.pl__parks {
    .park__top {
      margin-bottom: 1.5rem;
      text-align: center;
      h2 {
        font-weight: 400;
      }
      p {
        margin-right: .75rem;
        margin-left: .75rem;
      }
    }
    .featured {
      .featured-heading {
        font-weight: 300;
        line-height: 1;
        letter-spacing: -.05rem;
        font-size: 50px;
        margin-top: 7rem;
      }
    }
    .divider {
      margin: 5rem 0;
      background: rgba(131, 71, 221, 0.8);
    }
  }

