<div class="container pl__parks">

  <div class="row">
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Massive Plots</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Massive Plots</h2>
      <p>Our 201x201 Plots are huge. With enough room to build to your hearts content, why build else where?</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Dedicated Team</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Dedicated Team</h2>
      <p>Our dedicated Creative Team are always bring new features and listening to your suggestions. There is never a dull moment when they are around!</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="140" height="140">
        <title>Placeholder</title>
        <image xlink:href="https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png" height="140" width="140" />
      </svg>
      <h2>Heading</h2>
      <p>Spicy jalapeno bacon ipsum dolor amet jowl ullamco sed venison, hamburger salami duis aliquip meatloaf mollit.
        Meatball cow boudin incididunt pork loin. Prosciutto sed sint, turducken pancetta ex meatloaf exercitation in
        ipsum culpa sirloin short ribs.</p>
    </div>
  </div>


  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">It's all about the <span class="text-muted">Creator Project!</span>
      </h2>
      <p class="lead">Fancy becoming a Builder on our Server and help build our Parks? Then the Creator Project is where
        you start. This will allow use to see what you can build so you can really show off your skills.</p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7 order-md-2">
      <h2 class="featured-heading">Competions <span class="text-muted">most weekends.</span></h2>
      <p class="lead">Our friendly competions on Creative allow you to build with other Guests as a team to be crowned
        Build Off Champion. These fun and high paced competions happen most weekends.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">Unique <span class="text-muted">customisation options.</span></h2>
      <p class="lead">Using our custom built Audio Server, our Creative Guests can make their own shows using the Creative Show Creator.</p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Placeholder</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">


</div>