<div class="container pl__parks">

  <div class="row">
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="200" height="200">
        <title>Walt Disney World</title>
        <image xlink:href="../../assets/Parks_Component_Images/wdw_logo.png" height="200" width="200" />
      </svg>
      <h2>Walt Disney World</h2>
      <p>Step into the world of Mickey Mouse and friends as you wander around the most magical place on earth!</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="200" height="200">
        <title>Universal Studio Orlando</title>
        <image xlink:href="../../assets/Parks_Component_Images/uso_logo.png" height="200" width="200" />
      </svg>
      <h2>Universal Studio Orlando</h2>
      <p>Fancy becoming a movie star? Then come and ride the movies with us at Universal Studios Orlando or immerse
        yourself in the wizarding world of Harry Potter.</p>
    </div>
    <div class="park__top col-lg-4">
      <svg class="rounded-circle" width="200" height="200">
        <title>Disney Cruise Line</title>
        <image xlink:href="../../assets/Parks_Component_Images/dcl_logo.png" height="200" width="200" />
      </svg>
      <h2>Disney Cruise Line</h2>
      <p>Come and sail the seven seas on your very own Disney Cruise. </p>
    </div>
  </div>


  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">Constently <span class="text-muted">expanding</span>
      </h2>
      <p class="lead">We are always adding new and improved features to all our parks for our Guests to enjoy. From new
        ride features to brand new parks, we have it covered.
        Something is always changing. New Magic Kingdom, Pandora and Star Wars Galactic Edge are to name but a few.</p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Contently expanding</title>
        <image xlink:href="../../assets/Parks_Component_Images/expanding.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7 order-md-2">
      <h2 class="featured-heading">Meet your favourite <span class="text-muted">Characters</span></h2>
      <p class="lead">Character's are always coming online to spread the magic. Come and meet your favourites! Each
        Guest has access to their own unique autograph book so you can collect the autographs from your favourite
        Characters and Staff members.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Meet your favourite Characters</title>
        <image xlink:href="../../assets/Parks_Component_Images/characters.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">

  <div class="row featured">
    <div class="col-md-7">
      <h2 class="featured-heading">Dedicated <span class="text-muted">Staff Team</span></h2>
      <p class="lead">Our Staff Team is dedicated to provide a unique experience for our Guests to enjoy throughout the
        Parks, from running games to hosting shows, our team has it covered. We also give our Guests the opportunity to
        join our Staff Team and learn key skills such as working in a team and customer service on voluntry based
        position.
      </p>
    </div>
    <div class="col-md-5">
      <svg class="img-fluid mx-auto" width="500" height="500">
        <title>Dedicated Staff Team</title>
        <image xlink:href="../../assets/Player_Component_Images/AK.png" height="500" width="500" />
      </svg>
    </div>
  </div>

  <hr class="divider">


</div>