<div class="pl__players bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
              <!-- IGNORE COL-->
            </div>
            <div class="wrapper">
                <h1>The <em>Palace Network</em> Community</h1>
                <div class="search_background">
                    <div class="col-md-auto">
                        <div class="d-flex justify-content-center">
                            <div class="searchbar">
                                <input class="search_input" type="text" name="" placeholder="Search for Players...">
                                <a href="#" class="search_icon">
                                    <fa-icon [icon]="faSearch"></fa-icon>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
              <!-- IGNORE COL-->
            </div>
        </div>
    </div>

    <div class="servers py-5">
        <div class="container">
    
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/Magic Kingdom.png">
                <div class="card-body">
                  <p class="card-text">Magic Kingdom</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/EPCOT.png">
                <div class="card-body">
                  <p class="card-text">EPCOT</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class=" card-img-top" src="../../assets/AK.png">
                <div class="card-body">
                  <p class="card-text">Animal Kingdom</p>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/DHS.png">
                <div class="card-body">
                  <p class="card-text">Disney Hollywood Studios</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/random-pic-14.jpg">
                <div class="card-body">
                  <p class="card-text">Universal Studios Orlando</p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/random-pic-14.jpg">
                <div class="card-body">
                  <p class="card-text">Creative</p>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="../../assets/random-pic-14.jpg">
                <div class="card-body">
                  <p class="card-text">Arcade</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>