<div class="content__body">
    <div class="minecraft">
        <div class="header">
          <div class="wrapper">
            <div class="info">
              <h1>Come join us at <em>The Palace</em></h1>
            </div>
            <div class="ip">
              <a href="#"><em>IP:</em>play.palace.network</a>
              <p class="clip-success">Click to copy to clipboard</p>
            </div>
          </div>
        </div>
  
        <div class="tutorial">
          <div class="wrapper">
            <div class="video">
              <iframe width="720" height="405" src="https://www.youtube.com/embed/C5Qgi3ocU00" allowfullscreen></iframe>
            </div>
            <br>
            <div class="step-by-step">
              <ol>
                <li><a>Open up Minecraft and navigate to the Multiplayer Menu </a></li>
                <li><a>Click on the "Add Server" button </a></li>
                <li><a>Enter play.palace.network as the Server IP, the name can be anything. </a></li>
                <li><a>Press Done! </a></li>
                <li><a>Connect and start your adventure! </a></li>
              </ol>
            </div>
          </div>
        </div>
  
        <div class="stats-section">
          <div class="wrapper">
            <div class="stats-area">
              <div class="title">
                <h2>Palace Network Stats</h2>
              </div>
              <ul class="stats">
                  <li>
                      <i class="players"><fa-icon [icon]="faUsers"></fa-icon></i>
                      <p>Total Unique Players</p>
                      <span>123,456,789</span>
                   </li>
                   <li>
                      <i class="rides"><fa-icon [icon]="faCarSide"></fa-icon></i>
                      <p>Total Rides</p>
                      <span>1,012,019</span>
                   </li>
                   <li>
                      <i class="top-ride"><fa-icon [icon]="faTrophy"></fa-icon></i>
                      <p>Top Ride</p> 
                      <span>It's a Small World</span>
                   </li>
                   <li>
                      <i class="park"><fa-icon [icon]="faMapMarkedAlt"></fa-icon></i>
                      <p>Most popular Park</p>
                      <span>Magic Kingdom</span>
                   </li>
                   <li>
                      <i class="staff"><fa-icon [icon]="faIdCard"></fa-icon></i>
                      <p>Staff Members</p>
                      <span>68</span>
                   </li>
              </ul>
            </div>
            <!-- ADD SOMETHING HERE-->
            <div class="status-section">
              <div class="right-light">
                <div class="title">
                  <h2>Server Status</h2>
                </div>
                <div class="col-md-12">
                    <div class="status-box">
                    <div class="status-split"><i><fa-icon [icon]="faCarSide"></fa-icon></i></div>
                    <div class="status-text">Theme Parks <span>Operational</span></div>
                    </div>
                 </div>
              
                 <div class="col-md-12">
                    <div class="status-box">
                    <div class="status-split audio-server"><i><fa-icon [icon]="faHeadphones"></fa-icon></i></div>
                    <div class="status-text">Audio Server <span>Operational</span></div>
                    </div>
                 </div>
        
                 <div class="col-md-12">
                    <div class="status-box">
                    <div class="status-split web-services"><i><fa-icon [icon]="faWifi"></fa-icon></i></div>
                    <div class="status-text">Web Services <span>Operational</span></div>
                    </div>
                 </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
