<div class="content__body">
  <div class="minecraft">
    <div class="header">
      <div class="wrapper">
        <div class="info">
          <h1>Come join us at <em>The Palace</em></h1>
        </div>
        <div class="ip">
          <a href="#"><em>IP:</em>play.palace.network</a>
          <p class="clip-success">Click to copy to clipboard</p>
        </div>
      </div>
    </div>

    <div class="tutorial">
      <div class="wrapper">
        <div class="video">
          <iframe width="720" height="405" src="https://www.youtube.com/embed/C5Qgi3ocU00" allowfullscreen></iframe>
        </div>
        <br>
        <div class="step-by-step">
          <ol>
            <li><a>Open up Minecraft and navigate to the Multiplayer Menu </a></li>
            <li><a>Click on the "Add Server" button </a></li>
            <li><a>Enter play.palace.network as the Server IP, the name can be anything. </a></li>
            <li><a>Press Done! </a></li>
            <li><a>Connect and start your adventure! </a></li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
</div>