<div class="container">
  <mat-tab-group dynamicHeight>
    <!-- MANAGERS START-->
    <mat-tab label="Managers">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social manager">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- MANAGERS END-->
    <!-- ADMIN START-->
    <mat-tab label="Administrators">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social admin">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- ADMIN END -->
    <!-- DEVELOPER START-->
    <mat-tab label="Developers">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social developer">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- DEVELOPER END -->
    <!-- ARCHITECT START-->
    <mat-tab label="Architects">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social architect">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- ARCHITECT END -->
    <!-- SRMOD START-->
    <mat-tab label="Senior Moderators">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social srmod">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- SRMOD END -->
    <!-- BUILDER START-->
    <mat-tab label="Builders">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social builder">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- BUILDER END -->
    <!-- MODERATOR START-->
    <mat-tab label="Moderators">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social mod">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- MODERATOR END -->
    <!-- TRAINEE START-->
    <mat-tab label="Trainees">
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="our-team">
            <div class="picture">
              <img class="staff-head" src="https://crafatar.com/avatars/0405e485-9734-4275-b37d-c56a8833a869">
            </div>
            <div class="team-content">
              <h3 class="name">xBrant</h3>
              <h4 class="title">Operations Director</h4><!-- ??NOT SURE HOW WE CAN GET THIS INFORMATION. UNLESS WE USE FORUMS REST API?? -->
            </div>
            <ul class="social trainee">
              <li matTooltip="Forums Account"><a href="">
                  <fa-icon [icon]="faIdCard"></fa-icon>
                </a></li> <!-- FORUMS ACCOUNT -->
              <li matTooltip="Profile"><a href="">
                  <fa-icon [icon]="faTrophy"></fa-icon>
                </a></li> <!-- LEADERBOARD PROFILE -->
              <li matTooltip="Twitter"><a href="">
                  <fa-icon [icon]="faTwitter"></fa-icon>
                </a></li> <!-- TWIITER ACCOUNT -->
            </ul>
          </div>
        </div>
      </div>
    </mat-tab>
    <!-- TRAINEE END -->
  </mat-tab-group>
</div>