<div class="profile">
   <!-- <div class="container"> -->
   <div class="header">
      <div class="row">
         <div class="overview col-md-6">
            <div class="avatar">
               <img src="https://crafatar.com/avatars/81bc687f-87f7-4499-ad5e-31d17776c816?"> 
            </div>
            <div class="info">
               <h1>Vidsify's Profile</h1>
               <p class="rank developer">Developer</p>
               <p class="rank creator">Creator</p>
            </div>
         </div>
         <div class="status-box col-md-6">
            <div class="status online">
               <h4>Offline</h4>
               <p>I'm am the Captain now!</p>
            </div>
         </div>
      </div>
   </div>

   <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Statistics">
         <div class="profileContent">
            <h2>General Stats</h2>
         <div class="d-flex justify-content-start">
            <div class="statsSection">
               <div class="statRow">
                  <dl>
                     <dt>Honor Points</dt>
                     <dd>1,000</dd>
                  </dl>
                  <dl>
                     <dt>Balance</dt>
                     <dd>2,000</dd>
                  </dl>
                  <dl>
                     <dt>Tokens</dt>
                     <dd>3,000</dd>
                  </dl>
                  <dl>
                     <dt>Parkours Completed</dt>
                     <dd>4,000</dd>
                  </dl>
               </div>
               <div class="statRow">
                  <dl>
                     <dt>Friends</dt>
                     <dd>156</dd>
                  </dl>
                  <dl>
                     <dt>Rides Riden</dt>
                     <dd>666</dd>
                  </dl>
               </div>
            </div>
               <div class="justify-content-start">
                  <h2>Achievements</h2>
                  <div class="container"></div>
               </div>
         </div>
         </div>
      </mat-tab>
      <mat-tab label="Parks">
      </mat-tab>
      <mat-tab label="Arcade">Content 3</mat-tab>
    </mat-tab-group>
   <!-- </div> -->
</div>