<div class="search_players">
  <div class="container">
     <div class="header">
        <div class="row">
           <!-- begin header left -->
           <div class="col-md-6">
              <img class="avatar" src="https://crafatar.com/avatars/81bc687f-87f7-4499-ad5e-31d17776c816?">
           </div>
           <!-- end header left -->
           <!-- begin header right -->
           <div class="col-md-6">
              <!-- CONTENT FOR HEADER RIGHT-->
           </div>
           <!-- end header right -->
        </div>
     </div>
  </div>
</div>