.profile {
    padding-bottom: 20px;
    .header {
        height: 210px;
        width: 100%;
        margin: 0 0 40px 0;
        background: url(../../assets/Player_Component_Images/player_search.png) top center no-repeat #202020;
        .overview {
            width: 700px;
            padding-left: 300px; //ONLY USED WHEN CONTAINER DISABLED
            .avatar {
                margin-top: 40px;
                margin-left: 60px;
                margin-bottom: 40px;
                float: left;
                img {
                    float: inherit;
                    width: 128px;
                    height: 128px;
                    border-radius: 10px;
                }
            }
            .info {
                width: 250px; //500
                margin: 50px 0 0 10px;
                float: left;
                h1 {
                    width: 100%;
                    line-height: 45px;
                    font-size: 36px;
                    color: #FFF;
                    letter-spacing: -1px;
                    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.6);
                    float: left;
                }
                p.rank {
                    height: 32px;
                    line-height: 32px;
                    color: #FFF;
                    font-size: 20px;
                    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                    padding: 0 12px 0 12px;
                    background: #00AAAA;
                    float: left;
                    border-radius: 20px;
                    &.creator {
                        background: #5555FF;
                        margin-left: 5px;
                    }
                    &.dweller {
                        background: #55FFFF;
                    }
                    &.noble {
                        background: #5555FF;
                    }
                    &.majestic {
                        background: #AA00AA;
                    }
                    &.honorable {
                        background: #FF55FF;
                    }
                    &.sg {
                        background: #AA00AA;
                    }
                    &.trainee {
                        background: #00AA00;
                    }
                    &.traineebuild {
                        background: #00AA00;
                    }
                    &.mod {
                        background: #55FF55;
                    }
                    &.builder {
                        background: #55FF55;
                    }
                    &.srmod {
                        background: #FFFF55;
                    }
                    &.architect {
                        background: #FFFF55;
                    }
                    &.developer {
                        background: #FFAA00;
                    }
                    &.admin {
                        background: #FF5555;
                    }
                    &.manager {
                        background: #AA0000;
                    }
                }
            }
        }
        .status-box {
            padding-right: 300px; //ONLY USED WHEN CONTAINER DISABLED
            .status {
                height: 72px;
                padding: 0 20px 0 20px;
                margin: 69px 60px 0 0;
                position: relative;
                float: right;
                background: #646464;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
                border-radius: 20px;
                overflow: hidden;
                &.online {
                    padding: 0 60px 0 20px;
                    background: #37b62b;
                    p {
                        color: #ffc000;
                    }
                    &::after {
                        content: '';
                        width: 18px;
                        height: 18px;
                        position: absolute;
                        top: 27px;
                        right: 20px;
                        background: #b5eb53e5;
                        border-radius: 9px;
                        animation: online-pulse 2s infinite;
                    }
                    @keyframes online-pulse {
                        0% {
                            opacity: 0.25;
                        }
                        50% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0.25;
                        }
                    }
                }
                h4 {
                    margin: 15px 0 0 0;
                    height: 20px;
                    line-height: 20px;
                    color: #FFF;
                    font-size: 18px;
                    float: left;
                }
                p {
                    width: auto;
                    clear: both;
                    color: #c0c0c0;
                    float: left;  
                }
            }
        }
    }
/* =============== HONOR POINTS SECTION ===============*/

/* ===== MIXINS =====*/

    $bg-color: #34495e;
    $default-size: 1em;
    $label-font-size: $default-size / 4;
    $label-font-size-redo: $default-size * 4;

@mixin size($width, $height) {
  height: $height;
  width: $width;
}

@mixin draw-progress($progress, $color) {
  .pie {
    .half-circle {
      border-color: $color;
    }

    .left-side {
      transform: rotate($progress * 3.6deg);
    }

    @if $progress <= 50 {
      .right-side {
        display: none;
      }
    } @else {
      clip: rect(auto, auto, auto, auto);

      .right-side {
        transform: rotate(180deg);
      }
    }
  }
}

@mixin draw-progress--solid($progress, $color, $bg-color) {
  background: linear-gradient(to right, $color 50%, $bg-color 50%);
  
  &:before {
    @if $progress <= 50 {
      background: $bg-color;
      transform: rotate((100 - (50 - $progress)) / 100 * 360deg * -1);
    } @else {
      background: $color;
      transform: rotate((100 - $progress) / 100 * 360deg);
    }
  }
}

/* ===== Main SCSS ===== */

.honor-points {
  font-size: 8em; //CHANGE THIS TO INCREASE PIE SIZE
}

.pie-wrapper {
  @include size($default-size, $default-size);
  float: left;
  margin: 15px;
  position: relative;

  .pie {
    @include size(100%, 100%);
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    .half-circle {
      @include size(100%, 100%);
      border: ($default-size / 10) solid #3498db;
      border-radius: 50%;
      clip: rect(0, $default-size / 2, $default-size, 0);
      left: 0;
      position: absolute;
      top: 0;
    }
  }

  .level {
    background: $bg-color;
    border-radius: 50%;
    bottom: $label-font-size-redo / 10;
    color: #ecf0f1;
    cursor: default;
    display: block;
    font-size: $label-font-size;
    left: $label-font-size-redo / 10;
    line-height: $label-font-size-redo * .70;
    position: absolute;
    right: $label-font-size-redo / 10;
    text-align: center;
    top: $label-font-size-redo / 10;

    .smaller {
      color: #bdc3c7;
      font-size: .45em;
      padding-bottom: 20px;
      vertical-align: super;
    }
  }

  .shadow {
    @include size(100%, 100%);
    border: $default-size / 10 solid #bdc3c7;
    border-radius: 50%;
  }

  &.background {
    .level {
      background: none;
      color: #7f8c8d;

      .smaller {
        color: #bdc3c7;
      }
    }
  }

  &.progress-45 {
    @include draw-progress(45, #1abc9c);
  }
}
.profileContent {
	padding-left: 45px;
	padding-top: 0
}

.profileContent h2 {
	font-size: 22px;
	font-weight: 400;
	color: #343637;
	margin-bottom: 7px;
	font-family: Neuton, Times
}

.statsSection {
	width: 49%;
	_float: left;
	display: inline-block
}

.statsSection dt,
.statsSection dd {
	float: left;
	width: 50%;
	font-size: 13px
}

.statsSection dl {
	color: #5d6165
}

.statsSection dd {
	text-align: right;
	color: #5d6165;
	font-weight: 700
}

.statRow {
	padding-right: 45px;
	line-height: 30px
}
}