/** Palace Network Theme 1.0 */
$palace-gold: #ffb500;
$palace-purple: #8347e4;
$typography-1: #6c6c6c;
$typography-2: #f0f0f0;
$typography-3: rgb(24, 24, 24);
$card-bg-1: #f3f3f3;
$card-bg-2: #e7e7e7;
$heading-1: #434343;

$box-shadow-1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
