@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'reset';
@import 'theme';
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}



body {
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(230, 236, 240);
    // overflow-x: hidden;
}
%pl__section__header--global {
    color: $typography-2;
    background-color: $palace-gold;
    border-radius: 30px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 0 1px 3px #1F1F1F;
    border: none;
    width: 200px;
    display: block;
    margin: 30px 0 15px 0;
    line-height: 43px;
}
.pl__section__header {
    @extend %pl__section__header--global
}
.alt {
    @extend %pl__section__header--global;
    width: 300px;
}
.blue {
    @extend %pl__section__header--global;
    background-color: #45aaf2;
}
.red {
    @extend %pl__section__header--global;
    background-color: #ff6b6b;
}
.container {
    max-width: 1450px;
    margin-top: 3em;
}
.pl__activity-feed {
    position: relative;
    margin-bottom: 20px;
    padding: 5px 10px;
    height: 500px;
    max-width: 422px;
    background-color: $card-bg-1;
    .pl__activity-feed__item {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        padding: 0.5em 0.6em;
        width: 100%;
        background-color: $card-bg-2;

        p {
            position: relative;
            top: 2px;
            font-size: 15px;
            color: $typography-3;
            img {
                height: 48px;
                width: 48px;
                border-radius: 50%;
            }
            span {
                position: absolute;
                top: 12px; 
                right: 9px;
            }
        }
    }
}
