<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2 class="pl__section__header">What's New?</h2>
      <div class="pl__blog-post">
        <h2>This is a title <span>Mar. 16th, 2019</span></h2>
        <img src="../../assets/blog_post_thumb.png">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt at quod veritatis. Harum, odio! Error voluptatibus ea ipsa vel totam? Reiciendis eaque pariatur error cumque praesentium illum eum asperiores adipisci!</p>
        <p>Quam consequuntur illo explicabo blanditiis voluptatibus harum iusto. Dolore voluptatibus ipsam ut rem corporis magni ullam et, excepturi optio possimus sint illo, voluptatum suscipit hic! Aperiam repellat accusamus dicta sapiente.</p>
        <p>Iste, dignissimos, illum accusantium adipisci in voluptatem maxime quis dicta vel rerum debitis optio dolorem, praesentium hic quas quisquam odio! Exercitationem dignissimos nulla molestiae distinctio, ab harum perferendis alias veniam.</p>
        <p>Voluptatum, earum? Inventore architecto facere quaerat placeat aut nisi nam ex officiis tenetur. Explicabo quidem reprehenderit veritatis praesentium! Minima neque magni veniam impedit ducimus ea odio architecto enim omnis a.</p>
      </div>
    </div>
    <div class="col">
      <h2 class="pl__section__header">Activity Feed</h2>
      This section is for the status feed and stuff
    </div>
  </div>
</div>
