<div class="container justify-content-center">
  <div class="row">
    <div class="col" *ngFor="let post of news">
      <div class="pl__news__item">
        <div class="pl__news__item__top">
          <img src="../../assets/Home_Component_Images/blog_post_thumb.png">
        </div>
        <div class="pl__news__item__bottom">
          <h2>{{post.title}}</h2>
          <p>{{post.firstPost.content}}</p>
          <span><a href="{{post.url}}" target="_blank">Click to read more...</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2 class="pl__section__header">What's New?</h2>
      <div class="pl__blog-post" *ngFor="let post of recentNews">
        <h2>{{post.title}}<span>Mar. 16th, 2019</span></h2>
        <img src="../../assets/Home_Component_Images/blog_post_thumb.png">
        <div class="pl__blog-post-div" [innerHTML]="post.firstPost.content"></div>

      </div>
    </div>
    <div class="col-lg-4">
      <h2 class="pl__section__header">About Us</h2>
      <div class="pl__activity-feed-alt">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ratione atque, nam ut, iusto alias quas fuga cum error porro expedita et eius vitae praesentium saepe quos, quod quidem accusamus?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed esse eligendi natus molestiae, maxime tempore nam tenetur quisquam non saepe ullam quibusdam quia asperiores vitae sit est. Architecto, minima nulla.</p>
      </div>
      <!-- <h2 class="pl__section__header alt blue">Activity Feed</h2>
      <div class="pl__activity-feed">
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
        <div class="pl__activity-feed__item">
          <p><img src="https://crafatar.com/avatars/cc5c6d7a-5731-4cc2-a4d3-08b44557ca81?overlay=true"><span>Flakenstine unlocked achievement You're Fired</span></p>
        </div>
      </div> -->
    </div>
  </div>
</div>
