<div class="container justify-content-center">
  <div class="row">
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="pl__news__item">
        <div class="pl__news__item__top"></div>
        <div class="pl__news__item__bottom">
          <h2>This is a title</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error maiores magnam cum eius deserunt incidunt iste minima iusto optio quam, saepe neque, beatae quasi illum, quis laudantium totam temporibus est. Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam excepturi, repudiandae, accusamus, modi porro expedita commodi sequi nam sed odio cum eum minima velit corrupti eveniet veritatis necessitatibus doloremque! Veritatis.</p>
          <span><a href="#">Click to read more...</a></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <h2 class="pl__section__header">What's New?</h2>
      <div class="pl__blog-post">
        <h2>This is a title <span>Mar. 16th, 2019</span></h2>
        <img src="../../assets/Home_Component_Images/blog_post_thumb.png">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus id dignissimos cupiditate quaerat dolorem sit aperiam! Vero illum explicabo optio officiis odio cum dolorum unde nostrum corporis corrupti, earum natus!</p>
        <p>Nobis rem sit minima inventore ut officiis ipsa harum in, quibusdam eveniet voluptatum nisi natus culpa aspernatur debitis necessitatibus corrupti doloribus totam beatae tenetur, facilis id? Totam quas perspiciatis ullam?</p>
        <p>Facilis esse ratione doloribus consectetur temporibus corporis laudantium vitae ad aperiam, facere quisquam rerum ipsam itaque nulla excepturi provident amet iure alias iusto consequatur earum. Pariatur rerum aspernatur officiis suscipit!</p>
        <p>Vitae illo amet dolore obcaecati velit aperiam! Aliquam quia animi harum est consequuntur vel iure deserunt nostrum, laudantium repudiandae nam veritatis amet recusandae alias reiciendis exercitationem pariatur sapiente, cupiditate eveniet?</p>
        <p>Reprehenderit obcaecati placeat eum, expedita impedit accusantium officia rem doloremque ipsum odit harum! Excepturi repellendus aliquid ipsam molestias commodi voluptatem nostrum. Beatae dolore aliquam magnam at, amet odit architecto voluptas.</p>
        <p>Repellendus atque praesentium dolorum sit veritatis accusamus fugiat quae tenetur quod deserunt. Totam consectetur quaerat, assumenda hic veritatis blanditiis consequatur exercitationem non optio pariatur laborum sint consequuntur commodi labore reprehenderit.</p>
        <p>Molestias aliquam veniam voluptates culpa, laboriosam ratione porro nam, iusto adipisci saepe consequatur numquam soluta minima rem distinctio, voluptatem recusandae doloremque? Harum numquam est earum quo velit fugiat, accusamus provident!</p>
        <p>Sint autem fugiat, accusantium numquam harum magni nostrum vero ab, consequatur vel molestiae distinctio odio culpa quam. Temporibus, cumque illo similique deleniti possimus cupiditate reprehenderit debitis quis autem perferendis enim.</p>
      </div>
    </div>
    <div class="col-lg-4">
      <h2 class="pl__section__header">About Us</h2>
      <div class="pl__activity-feed-alt">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse ratione atque, nam ut, iusto alias quas fuga cum error porro expedita et eius vitae praesentium saepe quos, quod quidem accusamus?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed esse eligendi natus molestiae, maxime tempore nam tenetur quisquam non saepe ullam quibusdam quia asperiores vitae sit est. Architecto, minima nulla.</p>
      </div>
      <h2 class="pl__section__header alt blue">Activity Feed</h2>
      <div class="pl__activity-feed"></div>
    </div>
  </div>
</div>
